{{ template "head"  . }}
<link rel="preconnect" href="https://cdn.firebase.com/" crossorigin />
<title>authed | seankhliao</title>

<script defer src="/__/firebase/6.2.0/firebase-app.js"></script>
<script defer src="/__/firebase/6.2.0/firebase-auth.js"></script>
<script defer src="/__/firebase/init.js"></script>
<script defer src="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.js"></script>
<script defer src="/authed/index.js"></script>

<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

<h4><a href="/">seankhliao</a> / <mark>authed</mark></h1>
<p>authenticated test page</p>

<div id="firebaseui-auth-container"></div>

{{ template "loader" }}

<!-- prettier-ignore -->
{{ template "foot" }}
