{{ if .Analytics }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLVN7D6"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ end }}
