{{ if .Analytics }}
<script nonce="deadbeef4">
  let ts0 = new Date();
  let dst = "";
  document.querySelectorAll("a").forEach((el) => {
    el.addEventListener("click", (e) => {
      dst = e.target.href.replace(/(^\w+:|^)\/\//, "");
    });
  });
  window.addEventListener("unload", () => {
    ts1 = new Date();
    navigator.sendBeacon(`{{ .URLLogger }}?src={{ .URLCanonical }}&dst=${dst}&dur=${ts1 - ts0}ms&referrer=${document.referrer}`);
  });
</script>
{{ end }}
