<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preload" href="https://seankhliao.com/base.css" as="style" crossorigin />
    <link rel="preload" href="https://seankhliao.com/inconsolata-var.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="https://seankhliao.com/lora-var.woff2" as="font" type="font/woff2" crossorigin />

    <!-- prettier-ignore -->
    {{ template "AnalyticsLoadGohtml" . }}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

    <title>{{ .Title }}</title>

    <link rel="stylesheet" href="https://seankhliao.com/base.css" crossorigin />

    <link rel="canonical" href="{{ .URLCanonical }}" />
    <link rel="manifest" href="/manifest.json" />

    <meta name="theme-color" content="#000000" />
    <meta name="description" content="{{ .Description }}" />

    <link rel="icon" type="image/png" sizes="512x512" href="https://seankhliao.com/icon-512.png" />
    <link rel="apple-touch-icon" href="https://seankhliao.com/icon-512.png" />
    <link rel="shortcut icon" href="https://seankhliao.com/favicon.ico" />

    <style nonce="deadbeef1">
      /* prettier-ignore */
      {{ .Style }}
    </style>
  </head>
  <body>
    {{ template "AnalyticsFallbackGohtml" . }}

    <header>
      <h1>
        <a href="/">
          <span>S</span>
          <span>E</span>
          <span>A</span>
          <span>N</span>
          <em>K</em>
          <em>.</em>
          <em>H</em>
          <em>.</em>
          <span>L</span>
          <span>I</span>
          <span>A</span>
          <span>O</span>
        </a>
      </h1>

      {{ .Header }}
    </header>

    <main>
      {{ .Main }}
    </main>

    <footer>
      <a href="https://seankhliao.com/">home</a>
      |
      <a href="https://seankhliao.com/blog/">blog</a>
      |
      <a href="https://github.com/seankhliao">github</a>
      |
      <a href="https://seankhliao.com/terms/">terms</a>
    </footer>

    {{ template "AnalyticsCustomGohtml" . }}
  </body>
</html>
