@font-face {
  font-display: fallback;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  src: local("Archivo Regular"), local("Archivo-Regular"),
    url(/Archivo.ttf) format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-display: fallback;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  src: local("Archivo Bold"), local("Archivo-Bold"),
    url(/Archivo-Bold.ttf) format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-display: fallback;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: local("Lora Regular"), local("Lora-Regular"),
    url(/Lora.ttf) format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
* {
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --primary: #a06be0;
  --white: #eceff1;
  --sans: "Archivo", sans-serif;
  --serif: "Lora", serif;
  font-size: 20px;
}
/* ===== visual ===== */
body {
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-flow: column nowrap;
  font-family: var(--sans);
  margin: 0;
  width: 100%;
}
h1 {
  font-family: var(--serif);
  font-size: 5vmin;
}
h2 {
  font-family: var(--sans);
  font-size: 4vmin;
}
h3 {
  font-family: var(--serif);
  font-size: 1.563em;
}
h4 {
  font-family: var(--sans);
  font-size: 1.25em;
}
a,
a:hover,
a:visited {
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}
header a,
header a:hover,
header a:visited {
  text-decoration: none;
}
ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}
li {
  padding: 0.25em;
}
li:before {
  content: "»";
  padding-right: 1ch;
}
span {
  color: var(--primary);
}

/* ===== layout / header ===== */
header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 90vh;
  padding: 8vmin 5vmin;
  width: 100%;
}
hgroup {
  display: grid;
  grid: repeat(2, 10vmin) / repeat(8, 10vmin);
  max-width: 50rem;
  width: 90vmin;
}
h1 {
  height: 10vmin;
  margin: 0;
  width: 10vmin;
}
