<link rel="preconnect" href="https://www.googletagmanager.com" >
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin >

<!-- Google Tag Manager -->
<script type="module" nonce="deadbeef2">
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-TLVN7D6");

  import {
    getCLS,
    getFCP,
    getFID,
    getLCP,
    getTTFB,
  } from "https://seankhliao.com/web-vitals-1.0.1.js";

  function sendGTM({ name, delta, id }) {
    dataLayer.push({
      event: "web-vitals",
      event_category: "Web Vitals",
      event_action: name,
      event_value: Math.round(name === "CLS" ? delta * 1000 : delta),
      event_label: id,
    });
  }

  getCLS(sendGTM);
  getFCP(sendGTM);
  getFID(sendGTM);
  getLCP(sendGTM);
  getTTFB(sendGTM);
</script>
