{{ define "blogpost" }}

{{ template "head" . }}
<title>{{ .Title }} | blog | seankhliao</title>

<header>
    <h2><a href="/blog">b<em>log</em></a></h2>
    <p><time datetime="{{ .Date }}">{{ .Date }}</time><p>
    {{ template "header-name" }}
</header>
<main>
    <h3>{{ .Title }}</h3>
    {{ .Content }}
</main>

{{ template "foot" . }}

{{ end }}
