{{ define "foot" }}
<footer>
    <a href="/">home</a>
    |
    <a href="/privacy">privacy</a>
    |
    <a href="/terms">terms</a>
    |
    <a href="https://github.com/seankhliao/com-seankhliao">github</a>
</footer>
{{ end }}
