{{ define "header-name" }}
<h1>
    <a href="/">
        <span>S</span>
        <span>E</span>
        <span>A</span>
        <span>N</span>
        <em>K</em>
        <em>.</em>
        <em>H</em>
        <em>.</em>
        <span>L</span>
        <span>I</span>
        <span>A</span>
        <span>O</span>
    </a>
</h1>
{{ end }}
