<!doctype html>
<html ⚡ lang="en">
    <head>
        {{ template "amp-boilerplate" }}

        <title>Sean Liao</title>

        <style amp-custom>
            {{ template "custom-css" }}
        </style>
    </head>
    <body>
        <section class="bg-g1">
            <article>
                <h1>
                    <span class="c-red">4</span>
                    <span class="c-orange">0</span>
                    <span class="c-green">4</span>
                </h1>
                <p>Lost your way, you have</p>
                <p>Lead you <a href="/">home</a>, I will</p>
            </article>
        </section>
    </body>
</html>
