<!doctype html>
<html ⚡ lang="en">
    <head>
        {{ template "amp-boilerplate" }}

        {{ template "head" obj `
{
    "title":"CV | Sean Liao",
    "description": "Sean Liao's CV",
    "url": "seankhliao.com/cv",
    "imageUrl": ""
}
` }}

        <style amp-custom>
            {{ template "custom-css" }}

            /* ===== Custom ===== */
            .content-left {
                align-items: flex-start;
            }

            .align-img {
                transform: translateY(4px);
            }
        </style>
    </head>
    <body>
        <section>
            <header class="bg-g1">
                <h2>Hungry <span class="c-purple">Developer</span></h2>
                <h4>Will <span class="c-blue">code</span> for <span class="c-green">food</span></h4>

                <h2>
<a title="github" href="https://github.com/seankhliao">
    <amp-img class="align-img" width="32px" height="32px" layout="fixed" src="static/img/icon-github.png"></amp-img>
</a>

<a title="home" href="/">
    <i class="material-icons icon">home</i>
</a>

<a title="email: seankhliao@gmail.com" href="mailto:seankhliao@gmail.com">
    <i class="material-icons icon">email</i>
</a>
                </h2>
            </header>
            <article class="bg-g2 content-left">
                <div>
                    <h3>
                        <i class="material-icons icon">account_circle</i>
                        I am...
                    </h3>
                    <ul>
                        <li>
                            <i class="material-icons icon">account_box</i>
                            Sean <span class="c-purple">Liao</span>
                        </li>
                        <li>
                            <i class="material-icons icon">code</i>
                            Software dev who lives and dies on the <span class="c-red">bleeding edge</span>
                        </li>
                        <li>
                            <i class="material-icons icon">remove_red_eye</i>
                            Watches the backend / security / networking / ux spaces
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>
                        <i class="material-icons icon">work</i>
                        I can...
                    </h3>
                    <div class="chip-block">
                        <div class="chips">Go</div>
                        <div class="chips">Linux</div>
                        <div class="chips">Python</div>
                        <div class="chips">C/C++</div>
                        <div class="chips">HTML/CSS/JS</div>
                        <div class="chips">Git</div>
                    </div>
                </div>
                <div>
                    <h3>
                        <i class="material-icons icon">my_location</i>
                        I'm located...
                    </h3>
                    <ul>
                        <li>
                            <i class="material-icons icon">person_pin_circle</i>
                            Taipei, Taiwan
                        </li>
                        <li>
                            <i class="material-icons icon">location_searching</i>
                            Willing to relocate
                        </li>
                        <li>
                            <i class="material-icons icon">flight_takeoff</i>
                            Even better if I have to travel a lot
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>
                        <i class="material-icons icon">school</i>
                        Education
                    </h3>
                    <h4>2018 BBA Information Management</h4>
                    <p>National Taiwan University</p>
                </div>
            </article>
        </section>
    </body>
</html>
