<!doctype html>
<html ⚡ lang="en">
    <head>
        {{ template "amp-boilerplate" }}

        {{ template "head" obj `
{
    "title":"Design | Sean Liao",
    "description": "site design manual",
    "url": "seankhliao.com/design",
    "imageUrl": ""
}
` }}

        <style amp-custom>
            {{ template "custom-css" }}
        </style>
    </head>
    <body>
        <section class="bg-g1">
            <article>
                <h1>
                    <a href="/">
                        <i title="home" class="material-icons icon">home</i>
                    </a>
                    |
                    <i title="design" class="material-icons icon">invert_colors</i>
                    Design
                </h1>
            </article>
        </section>
        <section class="bg-g1">
            <header>
                <h1>h1 Text</h1>
                <p>long text</p>
                <h2>h2 Text</h2>
                <p>long text</p>
                <h3>h3 Text</h3>
                <p>long text</p>
                <h4>h4 Text</h4>
                <p>long text with <a>link text</a></p>
                <p>more long text</p>
                <ul>
                    <li><span class="c-g1">gray-1 text</span></li>
                    <li><span class="c-g2">gray-2 text</span></li>
                    <li><span class="c-g3">gray-3 text</span></li>
                </ul>
            </header>
            <article>
                <h4>Some <span class="c-purple">Text</span></h4>
                <p>Some <span class="c-purple">Text</span></p>
                <h4>Some <span class="c-brown">Text</span></h4>
                <p>Some <span class="c-brown">Text</span></p>
                <h4>Some <span class="c-red">Text</span></h4>
                <p>Some <span class="c-red">Text</span></p>
                <h4>Some <span class="c-orange">Text</span></h4>
                <p>Some <span class="c-orange">Text</span></p>
                <h4>Some <span class="c-green">Text</span></h4>
                <p>Some <span class="c-green">Text</span></p>
                <h4>Some <span class="c-blue">Text</span></h4>
                <p>Some <span class="c-blue">Text</span></p>
            </article>
        </section>
        <section class="bg-g2">
            <header>
                <h1>h1 Text</h1>
                <p>long text</p>
                <h2>h2 Text</h2>
                <p>long text</p>
                <h3>h3 Text</h3>
                <p>long text</p>
                <h4>h4 Text</h4>
                <p>long text with <a>link text</a></p>
                <p>more long text</p>
                <ul>
                    <li><span class="c-g1">gray-1 text</span></li>
                    <li><span class="c-g2">gray-2 text</span></li>
                    <li><span class="c-g3">gray-3 text</span></li>
                </ul>
            </header>
            <article>
                <h4>Some <span class="c-purple">Text</span></h4>
                <p>Some <span class="c-purple">Text</span></p>
                <h4>Some <span class="c-brown">Text</span></h4>
                <p>Some <span class="c-brown">Text</span></p>
                <h4>Some <span class="c-red">Text</span></h4>
                <p>Some <span class="c-red">Text</span></p>
                <h4>Some <span class="c-orange">Text</span></h4>
                <p>Some <span class="c-orange">Text</span></p>
                <h4>Some <span class="c-green">Text</span></h4>
                <p>Some <span class="c-green">Text</span></p>
                <h4>Some <span class="c-blue">Text</span></h4>
                <p>Some <span class="c-blue">Text</span></p>
            </article>
        </section>
        <section class="bg-g3">
            <header>
                <h1>h1 Text</h1>
                <p>long text</p>
                <h2>h2 Text</h2>
                <p>long text</p>
                <h3>h3 Text</h3>
                <p>long text</p>
                <h4>h4 Text</h4>
                <p>long text with <a>link text</a></p>
                <p>more long text</p>
                <ul>
                    <li><span class="c-g1">gray-1 text</span></li>
                    <li><span class="c-g2">gray-2 text</span></li>
                    <li><span class="c-g3">gray-3 text</span></li>
                </ul>
            </header>
            <article>
                <h4>Some <span class="c-purple">Text</span></h4>
                <p>Some <span class="c-purple">Text</span></p>
                <h4>Some <span class="c-brown">Text</span></h4>
                <p>Some <span class="c-brown">Text</span></p>
                <h4>Some <span class="c-red">Text</span></h4>
                <p>Some <span class="c-red">Text</span></p>
                <h4>Some <span class="c-orange">Text</span></h4>
                <p>Some <span class="c-orange">Text</span></p>
                <h4>Some <span class="c-green">Text</span></h4>
                <p>Some <span class="c-green">Text</span></p>
                <h4>Some <span class="c-blue">Text</span></h4>
                <p>Some <span class="c-blue">Text</span></p>
            </article>
        </section>
    </body>
</html>
