{{ template "head" . }}
<title>seankhliao</title>
<style>
  main {
    grid-gap: 25vh 1em;
  }
</style>

<header>
  {{ template "header-name" }}
</header>

<main>
  <section>
    <h3>Hey, I'm <em>Sean</em></h3>

    <h5><em>Bleeding</em> Edge Cloud Native</h5>
    <p>
      I run with shiny new stuff that is always <em>half</em>-broken, so I know what actually works. Current
      <em>preferred</em> tech stack:
    </p>
    <p>Go microservices — Docker containers — Kubernetes — Google Cloud Platform</p>

    <h5>Software <em>Developer</em></h5>
    <p>I'll do anything except touch <em>frontend</em></p>
  </section>

  <section>
    <h4>What I've Been <em>Doing</em></h4>

    <h5><em>MSc</em> Security and Network Engineering</h5>
    <p><em>2019-2020</em> University of Amsterdam</p>

    <h5><em>BBA</em> Information Management</h5>
    <p><em>2014-2018</em> National Taiwan University</p>
  </section>

  <section>
    <h4>My <em>Stuff</em></h4>
    <ul>
      <li><a href="/blog">Blog</a> — home of random thoughts</li>
      <li><a href="/projects">Projects</a> — summary of interesting projects</li>
    </ul>
  </section>

  <section>
    <h4><em>Find</em> Me</h4>
    <ul>
      <li><a href="mailto:sean@seankhliao.com">Email</a> — for me?</li>
      <li><a href="https://github.com/seankhliao">Github</a> — build first, regret later</li>
      <li><a href="https://github.com/erred">Github Org</a> — where old code goes to die</li>
    </ul>
  </section>

  <picture>
    <source srcset="/map.webp" type="image/webp" />
    <img src="/map.png" alt="map of countries I've visited" />
  </picture>

  <section>
    <h4>Travel <em>Log</em></h4>
    <ul>
      <li>Austria — 2019-12</li>
      <li>Belgium — 2019-10</li>
      <li>Canada — 2019-04</li>
      <!-- <li>Czechia — 2019-12</li> -->
      <li>England — <em>2009 - 2011</em>, 2019-10</li>
      <!-- <li>France — 2020-07</li> -->
      <li>Germany — 2019-12</li>
      <li>Hong Kong — 2017-08</li>
      <li>India — 2015-08</li>
      <li>Indonesia — 2017-02, 2017-08, 2018-02, 2018-12</li>
      <li>Japan — 2018-03</li>
      <li>Luxembourg — 2019-10</li>
      <li>Netherlands — <em>2019 - 2020</em></li>
      <li>Philipines — 2017-08</li>
      <li>Russia — <em>2000 - 2005</em></li>
      <li>Singapore — 2017-01</li>
      <li>South Korea — 2018-06</li>
      <li>Sweden — 2018-01</li>
      <li>Taiwan — <em>1996 - 2000, 2005 - 2009, 2011 - 2019</em></li>
      <li>Timor-Leste — 2018-02</li>
      <li>United States — 2019-04</li>
    </ul>
  </section>
</main>
{{ template "foot" }}
