<!doctype html>
<html ⚡ lang="en">
    <head>
        {{ template "amp-boilerplate" }}

        {{ template "head" obj `
{
    "title":"Sean Liao",
    "description": "Personal site of Sean Liao",
    "url": "seankhliao.com",
    "imageUrl": ""
}
` }}

        <style amp-custom>
            {{ template "custom-css" }}
        </style>
    </head>
    <body>
        <section>
            <header class="bg-g1">
                <h1>Sean <span class="c-purple">Liao</span></h1>

                <h2>
<a title="github" href="https://github.com/seankhliao">
    <amp-img class="align-img" width="36px" height="36px" layout="fixed" src="static/img/icon-github.png"></amp-img>
</a>

<a title="cv" href="/cv">
    <i class="material-icons icon">description</i>
</a>

<a title="email: seankhliao@gmail.com" href="mailto:seankhliao@gmail.com">
    <i class="material-icons icon">email</i>
</a>
                </h2>
            </header>
        </section>
        <section>
            <header class="bg-g2">
                <p>
                    Is currently {out of a job, farming}.
                </p>
                <p>
                    Has been a {photographer, designer, live {sound, lighting} technician}
                </p>
            </header>
            <article class="bg-g3">
                <h2>
                    <a href="/resume">
                        <i title="resume" class="material-icons icon">description</i>
                        Resume
                    </a>
                </h2>
                <p>
                    A man needs a job
                </p>
            </article>
        </section>
        <section>
            <article class="bg-g1">
                <h2>
                    <a href="/map">
                        <i title="map" class="material-icons icon">map</i>
                        Map
                    </a>
                </h2>
                <p>
                    Where have I been...?
                </p>
            </article>
        </section>
        <section>
            <article class="bg-g3">
                <h2>
                    <a href="/projects">
                        <i title="projects" class="material-icons icon">build</i>
                        Projects
                    </a>
                </h2>
                <p>Should find a way to list these</p>
            </article>
            <article class="bg-g2">
                <h2>
                    <a href="/design">
                        <i title="design" class="material-icons icon">invert_colors</i>
                        Design
                    </a>
                </h2>
                <p>
                    Site colors
                </p>
            </article>
        </section>
    </body>
</html>
