{{ template "head" . }}
<title>newtab | seankhliao</title>

<style>
  main {
    grid-gap: 5vh 1em;
    margin: 0;
  }
</style>

<main>
  <section>
    <h3><em>current</em> focus</h3>
    <ul>
      <li>
        advent of code:
        <a href="https://adventofcode.com/2019">2019</a>
        <a href="https://github.com/seankhliao/aoc-2019">repo</a>
      </li>
      <li>
        go:
        <a href="https://app.slack.com/client/T029RQSE6/C029RQSEE">slack</a>
        <a href="https://github.com/golang/go/issues">issues</a>
        <a href="https://groups.google.com/forum/#!forum/golang-nuts">go-nuts</a>
      </li>
    </ul>
  </section>

  <section>
    <h3><em>to</em> read</h3>
    <ul>
      <li>
        blogs:
        <a href="https://jbd.dev/">Jaana</a>
        <a href="https://jess.dev/">Jess</a>
        <a href="https://meowni.ca/">Monica</a>
      </li>
      <li>
        comics:
        <a href="https://xkcd.com/">xkcd</a>
        <a href="https://www.smbc-comics.com/">smbc</a>
        <a href="https://faasandfurious.com">faasandfurious</a>
        <a href="https://www.thefarside.com/">thefarside</a>
      </li>
      <li>
        webshit:
        <a href="https://twitter.com/home">twitter</a>
        <a href="http://n-gate.com/">hn summary <em>sunday</em></a>
      </li>
      <li>
        other:
        <a href="https://azeria-labs.com/">azeria</a>
      </li>
    </ul>
  </section>

  <section>
    <h3>SNE <em>coursework</em></h3>
    <ul>
      <li>
        uva-sne:
        <a href="https://github.com/seankhliao/uva-sne">github</a>
        <a href="https://github.com/users/seankhliao/projects/4?fullscreen=true">kanban</a>
      </li>
    </ul>
  </section>
</main>

{{ template "foot" }}
