{{ template "head" . }}
<title>newtab | seankhliao</title>

<style>
  main {
    grid-gap: 5vh 1em;
    margin: 0;
  }
</style>

<main>
  <section>
    <h3><em>current</em> focus</h3>
    <ul>
      <li>
        go:
        <a href="https://app.slack.com/client/T029RQSE6/C029RQSEE">slack</a>
        <a href="https://github.com/golang/go/issues">issues</a>
        <a href="https://groups.google.com/forum/#!forum/golang-nuts">go-nuts</a>
      </li>
      <li>
        web:
        <a href="https://amp.dev/documentation/guides-and-tutorials/learn/spec/amphtml/">amphtml</a>
        <a href="https://github.com/WICG/webpackage">webpackage</a>
      </li>
    </ul>
  </section>

  <section>
    <h3><em>to</em> read</h3>
    <ul>
      <li>
        blogs:
        <a href="https://jbd.dev/">Jaana</a>
        <a href="https://jess.dev/">Jess</a>
        <a href="https://meowni.ca/">Monica</a>
      </li>
      <li>
        comics:
        <a href="https://xkcd.com/">xkcd</a>
        <a href="https://www.smbc-comics.com/">smbc</a>
        <a href="https://faasandfurious.com">faasandfurious</a>
        <a href="https://www.thefarside.com/">thefarside</a>
      </li>
      <li>
        webshit:
        <a href="https://twitter.com/home">twitter</a>
        <a href="http://n-gate.com/">hn summary <em>sunday</em></a>
      </li>
      <li>
        other:
        <a href="https://azeria-labs.com/">azeria</a>
      </li>
    </ul>
  </section>

  <section>
    <h3>Other</h3>
    <ul>
      <li>
        {
        <a href="https://repo.new">repo</a>
        <a href="https://playlist.new">playlist</a>
        <a href="https://doc.new">doc</a>
        <a href="https://slide.new">slide</a>
        <a href="https://sheet.new">sheet</a>
        <a href="https://keep.new">keep</a>
        }.new
      </li>
      <li>
        uva-sne:
        <a href="https://github.com/seankhliao/uva-sne">github</a>
        <a href="https://github.com/users/seankhliao/projects/4?fullscreen=true">kanban</a>
      </li>
    </ul>
  </section>
</main>

{{ template "foot" }}
