{{ template "head" . }}
<title>privacy | seankhliao</title>
<style>
  main {
    grid-gap: 25vh 1em;
  }
</style>

<header>
  <h2><em>Privacy</em> Policy</h2>
  {{ template "header-name" }}
</header>

<main>
  <section>
    <h4>Scope</h4>
    <p>Anyone viewing my anything under my site <a href="https://seankhliao.com">seankhliao.com</a></p>
  </section>

  <section>
    <h4><em>Data</em> Collection</h4>
    <p>
      Google Analytics, Google reCAPTCHA, Cloudflare Analytics collect anonymized data through the use of server logs
      and client side cookies
    </p>
    <ul>
      <li>Traffic source</li>
      <li>Session information</li>
      <li>Device profile</li>
      <li>and some more</li>
    </ul>
  </section>

  <section>
    <h4>Data <em>Use</em></h4>
    <p>
      (Aggregate) Tracking information grants me a better understanding od who visits my site, what brought them here,
      and what they are viewing. This data informs my decisions on the design and content of this site.
    </p>
    <p>
      All activity is bound by the
      <a href="https://www.google.com/analytics/terms/">Google Analytics Terms of Service</a>
    </p>
  </section>

  <section>
    <h4>Choices and <em>Actions</em></h4>
    <p>You can turn off cookies in your browser</p>
  </section>

  <section>
    <h4>Additional <em>Info</em></h4>
    <p>Third party privacy policies</p>
    <ul>
      <li><a href="https://www.cloudflare.com/privacypolicy/">Cloudflare</a> privacy policy</li>
      <li><a href="https://policies.google.com/privacy?hl=en">Google</a> privacy policy</li>
    </ul>
    <p>Third party terms of service</p>
    <ul>
      <li><a href="https://www.cloudflare.com/website-terms/">Cloudflare</a> terms of service</li>
      <li><a href="https://policies.google.com/terms?hl=en">Google</a> terms of service</li>
      <li><a href="https://www.google.com/analytics/terms/us.html">Google Analytics</a> terms of service</li>
    </ul>
  </section>
</main>

{{ template "foot" }}
